*{     /*untuk reset margin*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    display: flex;
    flex-wrap: wrap;
}

.mainhead {
    width: 1200px;
    height: 96px;
    margin: 24px auto;
    background-color:#2A2C2E; 
    justify-content: space-evenly;
    align-items: center;
    color: rgb(249, 248, 248, .6);
    align-self: center;
    border-radius: 10px;
}

.banner {
    display: flex;
    justify-content: center; 
    gap: 30px;
    font-size: 40px; 
    background-color: yellow;
}

.card  {
    width: 294px;
    height: 577px;
    background-color: white;
    border-radius: 20px;
    padding: 24px;
}

.content    {
    display: flex;
    flex-direction: column; 
    background-color:#2A2C2E; 
    gap: 8px;
    align-items: center;
    
}
    
.book-list {
    display: flex; 
    flex-direction: row; 
    gap: 10px;
    margin: 30px 5px 5px;
}

.book   {
    width: 246px;
    height: auto;
    padding: 10px;
    gap: 10px;

}

.author {
    font-size: 14px;
    padding: 10px;
    color: rgba(15, 15, 15, 0.6);   
    line-height: 0px;          
}

.title {
    font-size: 16px;
    padding: 10px;
    line-height: px;
    
}

.review {
    font-size: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    list-style-type: none;
      
}

.comment {
    border-style: solid;
    border-radius: 20px; 
    flex: 0.25;
    align-items: center;
    
}

.feedback {
    border-style: solid;
    border-radius: 20px; 
    flex: 0.4;
    align-items: center;
}

.price {
    padding: 10px;
}
.discounted {
    text-decoration: line-through;
    color: gray;
    line-height: 100px;
}