*{     /*untuk reset margin*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Inter;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mainhead {
    max-width: 1200px;
    height: 96px;
    margin: 24px auto;
    background-color:#2A2C2E; 
    justify-content: space-evenly;
    align-items: center;
    color: rgb(249, 248, 248, .6);
    align-self: center;
    border-radius: 20px;
    flex-wrap: wrap;
}

.top-right {
    display: flex; 
    justify-content: center; 
    flex: 0.5;
    gap: 40px;
    margin: 10px  ;
    align-items: center;

}

.login {
    align-items: end;  
    width: 106px;
    height: 56px; 
    border-radius: 16px; 
    background-color: #F4CE47;
    padding: 16px 28px 16px 28px;
    gap: 12px;
}

.banner {
    width: 1728px;
    height: 80px;
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 30px;
    font-size: 40px; 
    background-color: #F4CE47;
}

.content    {
    display: flex;
    flex-direction: column; 
    background-color:#2A2C2E; 
    align-items: center;
    width: 1729px;
    flex-wrap: wrap;
   
}
.card  {
    width: 294px;
    height: 577px;
    background-color: white;
    border-radius: 20px;
    padding: 24px;
    gap: 10px;
}


    
.book-list {
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 10px;
    margin: 30px 5px 5px;
}

.book   {
    width: 246px;
    height: auto;
    padding: 10px;
    gap: 10px;

}

.author {
    font-size: 14px;
    padding: 10px;
    color: rgba(15, 15, 15, 0.6);   
    line-height: 0px;          
}

.title {
    font-size: 16px;
    padding: 10px;
    line-height: px;
    
}

.review {
    font-size: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    list-style-type: none;
      
}

.comment {
    border-style: solid;
    border-radius: 20px; 
    flex: 0.25;
    align-items: center;
    
}

.feedback {
    border-style: solid;
    border-radius: 20px; 
    flex: 0.4;
    align-items: center;
}

.price {
    padding: 10px;
    line-height: 100px;
}
.discounted {
    text-decoration: line-through;
    color: gray;
    
}

.bottom {
    width: 1248px;
    height: 88px;
    background-color:#2A2C2E;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0px 24px 0px 24px;
}

.foot-left  {
    justify-content: left;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    list-style-type: none;
    color: white;
    line-height: 16px;
    
}

.foot-right   {
    justify-content: right;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 16px;
    list-style-type: none;
    color: white;
    line-height: 16px;
}

.footer {
    width: 1248px;
    height: 40px;
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

li:hover {
    color: #F4D867;
}